<!DOCTYPE html> 
<html lang="en">  
           
<head>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'G-3KSRQJ2GCN');
      </script>  
    <meta charset="UTF-8">        
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--=============== FAVICON ===============-->   
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="assets/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="assets/favicons/browserconfig.xml">
    <meta name="theme-color" content="#a789d4">
 
    <!--=============== BOXICONS ===============-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--=============== SWIPER CSS ===============--> 
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
 
    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="assets/css/styles.css">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
     <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3KSRQJ2GCN"></script>

</head>

<body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header"> 
        <nav class="nav container"> 
            <a href="https://tu-dresden.de/bereichsuebergreifendes/nic/research/grps_med/sesyn/people/garvit_joshi" class="nav__logo">Garvit Joshi</a>
 
            <div class="nav__menu">
                <ul class="nav__list">
                    <li class="nav__item ">
                        <a href="#home" class="nav__link">
                            <i class='bx bx-home'></i>
                        </a>
                    </li>

                    <li class="nav__item ">
                        <a href="#about" class="nav__link">
                            <i class='bx bx-user'></i>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#skills" class="nav__link">
                            <i class='bx bx-buildings  '></i>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#testimonial" class="nav__link">
                            <i class='bx bx-code-block '></i>
                        </a>
                    </li>
                    
                  

                    <li class="nav__item">
                        <a href="#work" class="nav__link">
                            <i class='bx bx-book'></i>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#contact" class="nav__link">
                            <i class='bx bx-message-square-dots'></i>
                        </a>
                    </li>
                </ul>
            </div>

            <!--=============== theme change button ===============-->
            <i class='bx bx-moon change-theme change-theme-button' id="theme-button"></i>

        </nav>
    </header>

    <!--=============== MAIN ===============-->
    <main class="main">
        <!--=============== HOME ===============-->
        <section class="home section" id="home">
            <div class="home__container container grid">
                <div class="home__data">
                    <span class="home__greeting">Hello, I'm</span>
                    <h1 class="home__name">{{site.username}}</h1>
                    <h3 class="home__education">{{site.typing_text}}</h3>

                    <div class="home__button">
                        <a download="" href="{{site.baseurl}}/assets/pdf/Resume.pdf" class="button button--ghost">
                            Download Resume
                        </a>

                        <a href="#about" class="button">About</a>
                    </div>
                </div>

                <div class="home__handle">
                    <img src="{{site.baseurl}}/assets/img/gj.png" alt="" class="home__img">
                </div>

                <div class="home__social">
                    <a href="https://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank" class="home__social-link">
                        <i class='bx bxl-linkedin'></i>
                    </a>
                    <a href="https://github.com/{{site.github_username}}" target="_blank" class="home__social-link">
                        <i class='bx bxl-github'></i>
                    </a> 
                    <a href="https://tu-dresden.de/bereichsuebergreifendes/nic/research/grps_med/sesyn/people/garvit_joshi" target="_blank" class="home__social-link">
                        <i class='bx bxl-dribbble'></i>
                    </a>
                </div> 

                <a href="#about" class="home__scroll">
                    <i class='bx bx-mouse home__scroll-icon'></i>
                    <span class="home__scroll-name">Scroll Down</span>
                </a>
            </div>
        </section> 

        <!--=============== ABOUT ===============-->
        <section class="about section" id="about">
            <span class="section__subtitle">My Intro</span>
            <h2 class="section__title">{{site.about_me_title}}</h2>

            <div class="about__container container grid">
                <img src="{{site.baseurl}}/assets/img/TU_Dresden_Logo_weiss2.png" alt="" class="about__img">
                <img src="{{site.baseurl}}/assets/img/EFRE-ESF_dark.jpg" alt="" class="about__img">
                    <p class="about__description">{{site.about_me_description}}</p>
                    <a href="#contact" class="button about__button-contact" style="text-align:center"> Contact Me</a>
                </div> 
            </div>
        </section> 

        <!--=============== SKILLS ===============-->
        <section class="skills section" id="skills">
            <span class="section__subtitle"></span> 
            <h2 class="section__title">My Experience</h2>
                
            <div class="skills__content container grid" > 
                <section id="cd-timeline" class="cd-container">
                    {% for event in site.data.timeline %} 
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-picture"> 
                        </div>
            
                        <div class="cd-timeline-content">  
                            <h2>{{event.title}}</h2>
                    <div class="timeline-content-info"> 
                      <span class="timeline-content-info-title">
                        <i class="fa fa-certificate" aria-hidden="true"></i>
                        {{event.subtitle}} 
                      </span>&ensp;
                      <span class="timeline-content-info-date">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                        {{event.date}}
                      </span>
                    </div>
                    
                            
                    <ul class="timeline-tags">
                    {% for tag in event.tags %}
                    <li>{{tag.tag}}</li>
                    {% endfor %}
                    </ul>
                    <a href="{{event.title-url}}" target="_blank" class="website__button" >
                        Official Website <i class='bx bx-world contact__button-icon'></i></a>
                    </div> <!-- cd-timeline-content -->
                    </div> 
                    {% endfor %}


                </section> <!-- cd-timeline -->
                </div>
        </section>
         <!--=============== Skills ===============-->
         <section class="testimonial  section" id="testimonial">
            <span class="section__subtitle">What Can i Do ?</span>
            <h2 class="section__title">My Skills</h2>
            <div class="skills__container container grid">
                {% include section-skills.html %}    
        </section>
        <!--=============== SERVICES ===============-->
        <section class="services section" id="services">
            <span class="section__subtitle">My Projects</span>
            <h2 class="section__title">What I am Doing</h2>

             <div class="services__container container grid">
            {% for project in site.data.projects %}
           
                <div class="services__card {{project.type}} ">
                    <div class="serv">
                        <h3 class="services__title">{{project.name}}</h3>

                        <span class="services__button">
                            See More <i class='bx bx-right-arrow services__icon'></i>
                        </span>
                    </div>
                    
 
                    <div class="services__modal">
                        <div class="services__modal-content">
                            <i class='bx bx-x services__modal-close'></i>

                            <h2 class="services__modal-title">{{project.name}}</h2>

                            <p class="services__modal-description">{{project.descr}}
                            </p>
                            <a class="highlight-link website__button" href="{{project.demo}}" target="_blank" rel="noreferrer">
                                Link To Project  <i class='bx bx-world contact__button-icon'></i>
                              </a>
                            <ul class="services__modal-list">
                                {% for tag in project.tags %}
                                <li class="services__modal-item">
                                    <i class='bx bx-check-circle'></i>
                                    <p class="services__modal-info">{{tag.tag}}</p>
                                </li>
                                {% endfor %}
                                
                          </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        
            </div>
        </section>

        <!--=============== WORK ===============-->
        <section class="work section" id="work">
            <span class="section__subtitle">My Publications</span>
            <h2 class="section__title">Recent Works</h2>

            <div class="work__filters">
                <span class="work__item active-work" data-filter='all'>All</span>
                <span class=" work__item" data-filter='.jp'>Publications</span>
                <span class=" work__item" data-filter='.pr'>Pre-Publications</span>
            </div>

            <div class="work__container container grid">
                <style>
                    .cs {
                      word-wrap:break-word;
                      overflow-wrap: break-word;
                      width: 15vw;
                    }
                    </style>
                {% for publication in site.data.publications %}
                <div class="work__card {{publication.type}}">
                    <h2 class="work__title cs">{{publication.name}}</h3>
                    <div>{{publication.auth}}</div> 
                    <a href="{{publication.demo}}" class="work__button">
                        Link <i class='bx bx-right-arrow work__icon'></i>
                    </a> 
                </div> 
                {% endfor %}
                
            </div>
        </section>
 
        <!--=============== CONTACT ===============-->
        <section class="contact section" id="contact">
            <span class="section__subtitle">Get in touch</span>
            <h3 class="section__title">Contact Me</h3>
 
            <div class="contact__container container grid">
                <div class="contact__content">
                    <h3 class="contact__title contact__title-info">{{site.contact_description}}</h3>

                    <div class="contact__info">
                        <div class="contact__card">
                            <i class='bx bx-mail-send contact__card-icon'></i>
                            <h3 class="contact__card-title">Email</h3>
                            <span class="contact__card-data">{{site.email}}</span>

                            <a href="mailto:{{site.email}}" target="_blank" class="contact__button">
                                Write Me <i class='bx bx-right-arrow contact__button-icon'></i>
                            </a>
                        </div>
                        <div class="contact__card">
                            <i class='bx bx-envelope contact__card-icon'></i>
                            <h3 class="contact__card-title">Post</h3>
                            <span class="contact__card-data">Technische Universität Dresden <br>
                                Forschungsbereich Systemische Neurowissenschaften<br>
                                Würzburger Straße 35 <br>
                                
                                01187 Dresden
                            </span>
 
                            </a>
                        </div>
                    </div>
                </div>

                </div> 

        </section>
    </main>  

    <!--=============== FOOTER ===============-->
    <footer class="footer">
        <div class="footer__container container">
            <h1 class="footer__title">Garvit Joshi</h1>

            <ul class="footer__list">

                <li class="footer__item">
                    <a href="#" class="footer__link">Home</a>
                </li>
                <li class="footer__item">
                    <a href="#skills" class="footer__link">Experience</a>
                </li>
                <li class="footer__item">
                    <a href="#testimonial" class="footer__link">Skills</a>
                </li>
                <li class="footer__item">
                    <a href="#services" class="footer__link">Projects</a>
                </li>
                <li class="footer__item">
                    <a href="#work" class="footer__link">Publications</a>
                </li>
            </ul>

            <ul class="footer__social">

            </ul>


            <span class="footer__copy">
                &#169; 2023 Garvit All rights reserved.
            </span>
        </div>
    </footer>

    <!--=============== SCROLLREVEAL ===============-->

    <!-- <script src="assets/js/scrollreveal.min.js"></script> -->
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

    <!--=============== SWIPER JS ===============-->
    <script src="assets/js/swiper-bundle.min.js"></script>

    <!--=============== MIXITUP FILTER ===============-->
    <script src="assets/js/mixitup.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="assets/js/main.js"></script>

</body>

</html>  